/* Menu de gauche */
.lotusui30 .lotusMenu li.lotusSelected {
    border-left: 4px solid #EB6608 !important;
}

/* Texte de recherche */
.search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchHeader .lotusSearch .icSearchInputBox input {
   color: #1B4859 !important;
   font-weight: bold !important;
}

/* Barre de recherche */
.search-global-search-restyle .lotusui30 .icSearchResultsPage .lconnSearchHeader .lotusSearch {
    border-bottom-color: #EB6608 !important;
}

/* Appliquer */
.search-global-search-restyle .lotusui30 .icSearchResultsPage .lotusForm a {
   color: #1B4859 !important;
}

/* En tete contenu recherche */
.lotusui30 .lotusHeader h1 {
    color: #1B4859 !important;
    font-weight: bold !important;
}
